@using QuanLyBanHangDienTu.WebApp.Models
@model ProductDetailPhoneModel

@{
    ViewData["Title"] = "Thêm Chi Tiết Máy Tính Bảng";
}

<form asp-action="Detail" method="POST">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="CategoryId" />
    <input type="hidden" asp-for="BrandId" />

    <table class="table table-bordered">
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="ScreenSize">Kích Thước Màn Hình</label></th>
            <td><input asp-for="ScreenSize" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="DisplayTechnology">Công Nghệ Màn Hình</label></th>
            <td><input asp-for="DisplayTechnology" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="RearCamera">Camera Sau</label></th>
            <td><textarea asp-for="RearCamera" class="form-control"></textarea></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="FrontCamera">Camera Trước</label></th>
            <td><input asp-for="FrontCamera" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="ChipSet">Chip Set</label></th>
            <td><input asp-for="ChipSet" class="form-control" /></td>
        </tr>       
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="RAMCapacity">RAM</label></th>
            <td><input asp-for="RAMCapacity" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="InternalStorage">Bộ Nhớ Trong</label></th>
            <td><input asp-for="InternalStorage" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="OperatingSystem">Hệ Điều Hành</label></th>
            <td><input asp-for="OperatingSystem" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="DisplayResolution">Độ Phân Giải Màn Hình</label></th>
            <td><input asp-for="DisplayResolution" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="DisplayFeatures">Tính Năng Màn Hình</label></th>
            <td><textarea asp-for="DisplayFeatures" class="form-control"></textarea></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="CPUType">Loại CPU</label></th>
            <td><input asp-for="CPUType" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="col" style="vertical-align: middle;"><label asp-for="Compatibility">Khả Năng Tương Thích</label></th>
            <td><input asp-for="Compatibility" class="form-control" /></td>
        </tr>
    </table>

    <div class="text-end">
        <p>
            <button class="btn btn-warning btn-sm">Sửa</button>
            <a asp-action="Index" asp-controller="Product" class="btn btn-warning btn-sm">Quay Lại</a>
        </p>
    </div>
</form>
