@model IEnumerable<CategoryModel>

<ul class="nav nav-pills nav-stacked">
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Category" asp-action="Index" asp-route-Slug="@item.Slug">
                @item.Name
            </a>
        </li>
    }
</ul>
